.custom-card-text {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	height: 75px;
}

.post__image-wrapper img {
	max-height: 300px;
}

.author__image-wrapper {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	overflow: hidden;
}
.author__image-wrapper_header {
	width: 50px;
	height: 50px;
}

.post-item__image-wrapper {
	width: 100%;
	height: 200px;
}
.image-wrapper img {
	object-fit: cover;
	object-position: center;
	max-width: 100%;
	height: 100%;
}

.register__image-wrapper {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
}

.resize-none {
	resize: none;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cursor-pointer {
	cursor: pointer;
}

.mobile-nav {
	left: 0px;
	top: 100%;
	z-index: 10;
}

.loader-container {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #0d6efd;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #0d6efd transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
